// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form label, form input{
  display: block;
}
html {
  height: 100%;
  animation: fadeSiteIn 0.5s ease forwards; /* [1] */
}

html.fadeSiteOut {
  animation:  fadeSiteOut 0.5s ease forwards; /* [2] */
}


@keyframes fadeSiteIn { /* [1] */
  from   { opacity: 0; }
  to    { opacity: 1; }
}

@keyframes fadeSiteOut { /* [2] */
  from   { opacity: 1; }
  to     { opacity: 0; }
}

body{
  color: white;
  height: 100vh;
  width: 100%;
  text-decoration-line: none;
  top:0;
  bottom:0;
  left:0;
  right:0;}
#ml {
  margin-bottom: 0px;
}
p{
  margin-bottom: 0px;
  font-family: sans-serif;
}

#musicLibrary {
  text-align: left;
  font-size: 30px;
  padding-left: 10px;
  color: white;
  width: inherit;
  background: #FFC300;
  border-bottom: 10px solid #581845;
}

nav {
  width: 100%;
  text-decoration-line: none;
  position: absolute;
  text-align: center;
  font-family: sans-serif;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#navMusic {
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  background: #EEA200;
}

.link-3 {
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 0px;
}

.link-3:hover {
  position: relative;
  text-decoration: none;
  background-color: #581845;
  color: #EEA200;
  padding: 8px 10px;
}
#currentLink {
  position: center;
  background-color: #581845;
  padding: 8px 10px;
}
#background{
  background: url("forest.jpg") repeat 0 0;
  background-position: 50% 100%;
  object-fit: contain;
  background-size: inherit;
  min-height: 100%;
}
#mainpage{
  text-align: center;
  align-items: center;
  justify-content: center;
  height:inherit;
  color: white;
  object-fit: contain;
  background-size: inherit;
  min-height: 100%;
}
#welcomeHeader {
  font-style: italic;
  font-size: 75px;
  padding-top: 150px;
  font-family: 'Lato', sans-serif;
}